.github-page-navbar-container{
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    margin-top: 25px;

}

.github-page-navbar-container div{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    
}