.github-page-navbar-container{
    color: #fff;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    margin-top: 25px;

}

.github-page-navbar-container div{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    
}

.overview-text-container:hover {
    cursor: pointer;
}

.overview-nav-container .overview-text-container a{
    color: #fff;
    text-decoration: none;
}

.github-page-repo-container .repo-text-container a{
    color: #fff;
    text-decoration: none;
}

.projects-text-container a{
    color: #fff;
    text-decoration: none;

}

.packages-text-container a{
    color: #fff;
    text-decoration: none;
}

.stars-text-container a{
    color: #fff;
    text-decoration: none;
    
}