.profile-and-repositories-container-section {
    display: flex;
    flex-direction: row;
}

.profile-container {
    position: relative;
    margin-left: 100px;
    background: transparent;

}

.profile-container img {
    height: 300px;
    width: 300px;
    border-radius: 50%;

}

.profile-popup-container {
    background: transparent;
}

.profile-popup-container svg {
    position: absolute;
    color: #fff;
    right: 40px;
    width: 30px;
    height: 30px;
    bottom: 10px;

}

.profile-user-name-container {
    color: #fff;
    display: flex;
    width: 115.81px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #656D76;

    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    /* 120% */

}

.profile-user-name-container:hover{
    cursor: pointer;

}

.profile-follow-button-container button{
    background-color: #fff;
    width: 300px;
    border-radius: 5px;
    height: 25px;
    margin-top: 10px;

}

.profile-follow-button-container button:hover{
    cursor: pointer;

}

.followers-and-following-contaier{
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.followers-contaier{
    display: flex;
    flex-direction: row;
    margin-right: 7px;
    
}

.followers-svg-container{
    margin-right: 5px;
}

.followers-svg-container svg{
    color: #fff;

}

.followers-text-container a{
    text-decoration: none;
    color: #fff;

}

.following-text-contaier a{
    text-decoration: none;
    color: #fff;

}

/*Stickers part*/

.achievements-stickers-container{
    border-top: 1px solid #D8DEE4;
    margin-top: 20px;
    padding-top: 10px;

}

.achievements-text-container{
    color: #fff;

}

.stickers-itself-container{
    display: flex;
    flex-direction: row;
    margin-top: 30px;

}

.stickers-itself-container div img{
    height: 70px;
    width: 70px;

}

.beta-and-send-feedback-container{
    display: flex;
    flex-direction: row;

}

.beta-and-send-feedback-container div a{
    text-decoration: none;

}

.beta-button-container a{
    color: #1A7f37;

}

.beta-button-container{
    border: 1px solid #1A7F37;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;

}

.send-feedback-container a{
    margin-left: 5px;
    color: #fff;
    
}