.profile-and-repositories-container-section {
    display: flex;
    flex-direction: row;
}

.profile-container {
    position: relative;
    margin-left: 100px;
    background: transparent;

}

.profile-container img {
    height: 300px;
    width: 300px;
    border-radius: 50%;

}

.profile-popup-container {
    background: transparent;
}

.profile-popup-container svg {
    position: absolute;
    color: #fff;
    right: 40px;
    width: 30px;
    height: 30px;
    bottom: 10px;

}

.profile-user-name-container {
    color: #fff;
    display: flex;
    width: 115.81px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #656D76;

    font-family: Segoe UI;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    /* 120% */

}

.profile-user-name-container:hover {
    cursor: pointer;

}

.profile-follow-button-container button {
    background-color: #fff;
    width: 300px;
    border-radius: 5px;
    height: 25px;
    margin-top: 10px;

}

.profile-follow-button-container button:hover {
    cursor: pointer;

}

.followers-and-following-contaier {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.followers-contaier {
    display: flex;
    flex-direction: row;
    margin-right: 7px;

}

.followers-svg-container {
    margin-right: 5px;
}

.followers-svg-container svg {
    color: #fff;

}

.followers-text-container a {
    text-decoration: none;
    color: #fff;

}

.following-text-contaier a {
    text-decoration: none;
    color: #fff;

}

/*Stickers part*/

.achievements-stickers-container {
    border-top: 1px solid #D8DEE4;
    margin-top: 20px;
    padding-top: 10px;

}

.achievements-container{
    margin-top: 49px;
}

.achievements-text-container {
    color: #fff;
    margin-bottom: -20px;

}

.stickers-itself-container {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    margin-left: -10px;
}

.stickers-itself-container div img {
    height: 70px;
    width: 70px;

}

.beta-and-send-feedback-container {
    display: flex;
    flex-direction: row;
    margin-top: 10px;

}

.beta-and-send-feedback-container div a {
    text-decoration: none;

}

.beta-button-container a {
    color: #1A7f37;

}

.beta-button-container {
    border: 1px solid #1A7F37;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;

}

.send-feedback-container a {
    margin-left: 5px;
    color: lightskyblue;

}

.block-or-report-text-contaier {
    display: flex;
    margin-top: 10px;

}

.block-or-report-text-contaier a {
    color: #656D76;
    text-decoration: none;
    font-family: Segoe UI;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    /* 150% */
}

/*repository parts*/
/*First repo*/
.popular-repos-itself-container{
    display: grid;
    grid-template-columns: 445px 445px;
    column-gap: 0px;
    margin-top: 20px;

}

.popular-repositories-container{
    margin-left: 50px;
    margin-top: 20px;

}

.popular-repositories-text-container{
    color: #fff;
    margin-bottom: 20px;
}

.app-repo-container{
    display: flex;
    flex-direction: column;
    width: 415px;
    height: 100px;
    background: #fff;
    border-radius: 7px;

}

.app-txt-container a{
    background: transparent;
    text-decoration: none;
    color: darkblue;

}

.app-repo-container div{
    color: #1e1e1e;
    display: flex;
    flex-direction: row;
    background: #fff;
}

.app-and-public-container{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    padding-top: 20px;
    height: 10px;
    margin-bottom: 20px;
    margin-left: 10px;

}

.public-icon-container{
    margin-left: 300px;
    border: 1px solid #1e1e1e;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: -10px;
    border-radius: 13px;
    font-size: 12px;

}

.public-icon-container:hover{
    cursor: pointer;
    
}

.repo-star-icon-container svg,
.repo-fork-icon-container svg{
    background-color: transparent;
    margin-right: 3px;

}

.repo-details-container div{
    margin-right: 3px;
    font-size: 13px;

}

.repo-details-container{
    margin-left: 20px;
    margin-top: 20px;
    align-items: center;
    
}

.most-used-language-color-svg-container svg{
    color: orangered;
    background: transparent;

}

.most-used-language-in-repo-container{
    align-items: center;

}

.repo-stars-number-container,
.repo-fork-number-container{
    font-size: 15px;

}

/*Second repository*/

.html-css-repo-container div{
    background: #fff;
    background-color: #fff;
    display: flex;
    flex-direction: row;

}

.html-css-txt-container a{
    background: transparent;
    text-decoration: none;

}

.html-css-txt-container{
    margin-left: 10px;

}

.html-css-details-container{
    margin-left: 10px;
    margin-bottom: 20px;

}

.html-css-repo-container{
    display: flex;
    flex-direction: column;
    width: 415px;
    height: 100px;
    background: #fff;
    border-radius: 7px;
    padding-left: 10px;
    padding-right: 20px;

}

.html-css-and-public-container{
    margin-top: 20px;
    background: transparent;

}

.html-css-and-public-container{
    margin-bottom: 20px;
    
}

.html-css-most-used-language-color-svg-container svg{
    background: transparent;
    color: orangered;
    
}

.html-css-star-svg-container svg{
    background: transparent;

}

.html-css-most-used-language-txt-container{
    font-size: 13px;

}

.html-css-most-used-language{
    align-items: center;

}

/*Third repository*/

.trendyol-repo-container div{
    display: flex;
    flex-direction: row;
    background: #fff;

}

.trendyol-repo-container{
    display: flex;
    flex-direction: column;
    background: #fff;
    background-color: #fff;
    height: 90px;
    width: 393px;
    border-radius: 7px;
    margin-top: 10px;
    padding-top: 20px;
    padding-left: 20px;
}

.trendyol-repo-txt-and-public-container{
    background: transparent;
    
}

.trendyol-repo-txt-and-public-container div a{
    background: transparent;
    text-decoration: none;

}

.trendyol-repo-txt-and-public-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;

}

.trendyol-repo-public-icon-container{
    margin-right: 20px;
    font-size: 13px;
    border: 1px solid #1e1e1e;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 18px;

}

.trendyol-repo-public-icon-container:hover{
    cursor: pointer;
    
}

.trendyol-repo-most-used-language-container{
    align-items: center;
    margin-right: 5px;
    
}

.trendyol-repo-most-used-language-icon-svg-container svg{
    background: transparent;
    color: orangered;
    margin-right: 3px;

}

.trendyol-repo-most-used-language-txt-container{
    font-size: 13px;

}

.trendyol-repo-stars-container{
    align-items: center;
    margin-right: 4px;

}

.trendyol-repo-stars-container div svg{
    background: transparent;

}

.trendyol-fork-container{
    align-items: center;

}

.trendyol-fork-container div svg{
    background: transparent;

}

/*Fourth repository*/
.js-course-learning-repo-container{
    margin-top: 10px;
    border-radius: 7px;

}

.js-course-learning-repo-container div{
    background-color: #fff;
}

.js-course-repo-top-part{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 70px;
}

.js-course-repo-top-part div a{
    text-decoration: none;
    background: transparent;

}

.js-course-repo-bottom-part{
    display: flex;
    flex-direction: row;

}

.js-course-repo-bottom-part div{
    display: flex;
    flex-direction: row;

}

.js-learning-most-used-lang-color-div{
    color: orangered;

}

.js-course-repo-bottom-part div svg{
    background: transparent;

}